* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Terminus, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    border-radius: 0px;
    min-height: 0px;
}

window#waybar {
    background-color: #282828;
    opacity: 1;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}
