[Desktop Entry]
Type=Application
Name=Aseprite
GenericName=Sprite Editor
Comment=Animated sprite editor & pixel art tool
Icon=/home/ludihan/.local/share/Steam/steamapps/common/Aseprite/data/icons/ase.ico
Categories=Graphics;2DGraphics;RasterGraphics
Exec=/home/ludihan/.local/share/Steam/steamapps/common/Aseprite/aseprite --noinapp %F
TryExec=/home/ludihan/.local/share/Steam/steamapps/common/Aseprite/aseprite  --noiapp
Terminal=false
StartupNotify=false
StartupWMClass=Aseprite
MimeType=image/bmp;image/gif;image/jpeg;image/png;image/x-pcx;image/x-tga;image/vnd.microsoft.icon;video/x-flic;image/webp;image/x-aseprite;
